VITE_API_BASE_URL=/api/v1
VITE_API_PROXY_TARGET=http://localhost:8080
VITE_HOSPITAL_API_BASE_URL=/hospital-api/v1
VITE_HOSPITAL_API_PROXY_TARGET=http://localhost:8087
VITE_WS_ENDPOINT=/api/v1/stream
VITE_USE_MOCKS=true
VITE_USE_MOCK_AUTH=true
VITE_OPERATIONS_API_ENABLED=true
